<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Filter.Hostnames" value="UTVPC0J1WE1;localhost"/>
    <add key="Filter.Routes" value="dbank;dbankm"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>